.breadcrumb-box{
   width: 70%;
   margin: auto;
   background-color: white;
   color: black;
   margin-bottom: 40px;
}

.product-container{
   width: 80%;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: flex-start;
   flex-wrap: wrap;
   margin: auto;
}

.product-container-box{
   width: 350px;
   height: 550px;
   padding: 0;
   margin: 1px 1px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   cursor: pointer;
   /* background-color: whitesmoke; */
}

.card-image{
   width: 300px; 
   max-width: 300px;
   min-width: 300px;
   height: 300px;
}

.card-body{
   height: 350px;
   width: 300px;
   margin: auto;
   max-height: 350px;
   min-height: 350px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   text-align: left;
}

.card-quantity-green{
    font-weight: 600;
}
.card-quantity-red{
    font-weight: 800;
    color: red;
}

.card-btn{
   margin-top: 15px;
   width: 100%;
   height: 35px;
   font-size: 35px;
   font-weight: 800;
}
