/* .navBarContainer {
   display: none;
 }
  */
 /*IPAD VIEW*/


   .header-container{
     width: 100%;
     height: 15vh;
     display: flex;
     border-bottom: solid #e6e6e6 0.5px;
     margin-bottom: 20px;
     background-color: whitesmoke;
   }
 
   .navBariPad {
     display: flex;
     background-color: white;
   }
 
   .navBarContainer{
     display: flex;
     position: relative;
     width: 100%;
   }
 
   .topNav {
     height: 10vh;
     min-width: 100%;
     display: flex;
     flex-direction: column;
     font-weight: 900;
   }
 
   .upper-box {
     width: auto;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     padding-left: 64%;
     padding-right: 2em;
     font-size: 0.8em;
     letter-spacing: 0.07em;
     margin-bottom: 20px;
     margin-top: 10px
   }
 
   .upper-box a {
     text-decoration-line: none;
     font-weight: 900;
     color: #2A2A2A;
     height: 100%;
   }
 
   .cart {
     height: 100%;
     width: 80px;
     padding: 0 1.5em;
     display: flex;
     flex-direction: row;
     font-size: 20px;
   }

   .cart-has-item{
      background-color: #FA8072;
      color: white;
      padding: 2px 15px;
      border-radius: 5%;
   }
 
   .nav-bar {
     width: 100%;
     height: 85%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding-left: 1.5em;
     /* padding-bottom: 0.1em; */
     letter-spacing: 0.07em;
     font-size: 15px;
     padding-bottom: 0;
     margin-bottom: 0;
   }
 
   .nav-bar li {
     padding-right: 2.5em;
     list-style-type: none;
   }
 
   .nav-bar a {
     text-decoration-line: none;
     font-weight: 900;
     color: #2A2A2A;
   }
 
   .nav-bar a:visited {
     color: #2A2A2A;
   }
 
   .nav-bar a:hover {
     color: #E72B1E;
   }
 
   .search-input {
      height: 25px;
      width: 400px;
      background-color: transparent;
      color: black;
      outline: none;
      outline-style: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: solid #808080 0.5px;
      padding: 3px 10px;
      font-weight: 600;
      font-size: 15px;
  }

  .search-input::placeholder{
     font-weight: 400;
     font-size: 15px;
     
  }
 
  .lower-box{
     width: 90%;
     display: flex; 
     flex-direction: row;
     justify-content: space-evenly;
  }
 
 
 /*DESKTOP VIEW*/
 
 @media(min-width: 800px) {
 
   .navBariPad {
     display: none;
   }
 
   .header-container {
     display: flex;
     width: 100%;
     box-sizing: border-box;
   }
 
   .topNav {
     position: relative;
   }
/*  
   .hoverBridge {
     position: absolute;
     height: 3vh;
     min-width: 8.75vh;
     left: 35.5%;
     top: 8vh;
     z-index: 90;
     background-color: red;
   }
  */
   /* .hoverBridgeWomens {
     position: absolute;
     height: 3vh;
     min-width: 10.5vh;
     left: 8.75vh;
     top: 8vh;
     z-index: 90;
     background-color: blue;
   }
 
   .hoverBridgeKids {
     position: absolute;
     height: 3vh;
     min-width: 14vh;
     left: 20vh;
     top: 8vh;
     z-index: 90;
     background-color: yellow;
   } */
 
   .upper-box {
       font-size: 0.8em;
   }
 
   .nav-bar li{
      height: 5vh;
      padding-bottom: 0;
      margin-bottom: 0;
      cursor: pointer;
      background-color: transparent;
   }

 
 }
 